<h2>Hello, <%= locals.name %>!</h2>
<h2>
  <%= locals.candidateName %> just applied for your job post, login to our
  website to check their profile.
</h2>
<p>Candidate contact mail: <%= locals.candidateEmail %></p>
